<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464425401002-4bepgkv3h05efp408egkekn1apvpibk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464425401002-4bepgkv3h05efp408egkekn1apvpibk2</string>
	<key>API_KEY</key>
	<string>AIzaSyC6V9TaYT3UTP64n0IAhHZnKx5tdd07mkw</string>
	<key>GCM_SENDER_ID</key>
	<string>464425401002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.industria-social.treino</string>
	<key>PROJECT_ID</key>
	<string>treino-45ee9</string>
	<key>STORAGE_BUCKET</key>
	<string>treino-45ee9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464425401002:ios:fd7325873c2ca3aa196ed3</string>
</dict>
</plist>